In [3]:
my_dict={
    "name":"소민호",
    "age" : 33
}

print(my_dict)

{'name': '소민호', 'age': 33}

In [4]:
print(my_dict['name'])

소민호

In [6]:
print(my_dict['age'])

33

문법상 딕셔너리의 데이터 추가와 수정은 똑같다.

없으면 새로 만들고, 있으면 수정된다.

In [10]:
my_dict['email']='dreaming_jd@naver.com'
print(my_dict)

{'name': '소민호', 'age': 33, 'email': 'dreaming_jd@naver.com'}

In [11]:
my_dict['age']=34
print(my_dict)

{'name': '소민호', 'age': 34, 'email': 'dreaming_jd@naver.com'}

딕셔너리의 결합

In [14]:
dict_a={'a':1,'b':2}
dict_b={'c':3,'d':4}

dict_a.update(dict_b)

print(dict_a)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [15]:
dict_a={'a':1,'b':2}
dict_b={'b':3,'d':4}

dict_a.update(dict_b)

print(dict_a)

{'a': 1, 'b': 3, 'd': 4}

In [17]:
my_dict={
 'a':10,
 'b':20
}

In [18]:
'a' in my_dict #'a'라는 키 값이 my_dict 안에 있다.

True

In [19]:
'c' in my_dict

False

In [20]:
my_dict['a']

10

In [21]:
my_dict['c']

KeyError: 'c'

In [23]:
my_dict.keys()

dict_keys(['a', 'b'])

In [26]:
my_dict.values()

dict_values([10, 20])

In [27]:
my_dict.items()

dict_items([('a', 10), ('b', 20)])

In [28]:
#딕셔너리 삭제
del my_dict['a']
my_dict

{'b': 20}

In [30]:
#딕셔너리 전체 삭제
my_dict.clear()

In [31]:
my_dict

{}

#set(집합)
* 중복된 자료의 저장 불가 (데이터의 unique 유지)
* 데이터 저장의 순서가 없다

In [33]:
set1={1,2,3,3,4,6,7,1,2,3,4,1,2,3,9,1,1,2,3}
print(set1)

{1, 2, 3, 4, 6, 7, 9}

In [35]:
my_list={1,5,2,6,1,5,7,2,6,4,7,2,1}
set2=set(my_list)
print(set2)

{1, 2, 4, 5, 6, 7}

In [38]:
my_str='letter'
set3=set(my_str)
print(set3)

{'l', 'r', 't', 'e'}

In [39]:
list(set3)

['l', 'r', 't', 'e']

데이터 분석을 하기 위한 자료 구조

* 통계적 분석 (보통 pandas)
* 머신러닝이나 딥러닝 분석(tensor 개념)

In [41]:
list_2dim=[[10,20,30],[40,50,60]]

print(list_2dim)

[[10, 20, 30], [0, 50, 60]]

In [42]:
list_2dim[1]

[0, 50, 60]

In [43]:
list_2dim[1][1]

50

## 판다스 사용하기

* 설치 : pip install pandas

In [45]:
import pandas as pd
import numpy as np

In [49]:
s = pd.Series([1,2,3, np.nan,6,7])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    7.0
dtype: float64

In [51]:
dates = pd.date_range('20200828', periods=10)
dates

DatetimeIndex(['2020-08-28', '2020-08-29', '2020-08-30', '2020-08-31',
               '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04',
               '2020-09-05', '2020-09-06'],
              dtype='datetime64[ns]', freq='D')

In [52]:
df = pd.DataFrame(np.random.rand(5,4), index = [1,2,3,4,5], columns = ['A','B','C','D'])
df

          A         B         C         D
1  0.665932  0.611199  0.828344  0.400756
2  0.287487  0.112919  0.386619  0.590446
3  0.444676  0.240644  0.087854  0.155766
4  0.454642  0.715112  0.711454  0.489348
5  0.956376  0.710521  0.340151  0.334707

index 유니크한 각 행을 대표하는 것 // column의 이름

In [53]:
df['A']

1    0.665932
2    0.287487
3    0.444676
4    0.454642
5    0.956376
Name: A, dtype: float64

In [55]:
df[['A','C']]

          A         C
1  0.665932  0.828344
2  0.287487  0.386619
3  0.444676  0.087854
4  0.454642  0.711454
5  0.956376  0.340151

In [56]:
column_names=['A','D']
df[column_names]

          A         D
1  0.665932  0.400756
2  0.287487  0.590446
3  0.444676  0.155766
4  0.454642  0.489348
5  0.956376  0.334707

In [57]:
df.loc[3]

A    0.444676
B    0.240644
C    0.087854
D    0.155766
Name: 3, dtype: float64

In [59]:
df.loc[:,['A','C']]

          A         C
1  0.665932  0.828344
2  0.287487  0.386619
3  0.444676  0.087854
4  0.454642  0.711454
5  0.956376  0.340151

, 앞에는 행선택 / , 뒷쪽은 콜롬 선택
전체 행에 대한 콜롬

In [61]:
df.loc[1:3,['B','D']]

          B         D
1  0.611199  0.400756
2  0.112919  0.590446
3  0.240644  0.155766

In [62]:
df['A']>0.5

1     True
2    False
3    False
4    False
5     True
Name: A, dtype: bool

In [68]:
df[df['A']>0.5]

          A         B         C         D
1  0.665932  0.611199  0.828344  0.400756
5  0.956376  0.710521  0.340151  0.334707

In [69]:
df[df>0.3]

          A         B         C         D
1  0.665932  0.611199  0.828344  0.400756
2       NaN       NaN  0.386619  0.590446
3  0.444676       NaN       NaN       NaN
4  0.454642  0.715112  0.711454  0.489348
5  0.956376  0.710521  0.340151  0.334707

B 컬럼의 값이 0.3보다 큰 상태에서 A,D만 뽑아주세요

In [77]:
df.loc[df['B']>0.3,['A','D']]

          A         D
1  0.665932  0.400756
4  0.454642  0.489348
5  0.956376  0.334707